
.Description div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Description div h2{
    font-size: 25px;
}
.Description{
    width: 200px;
    height: 200px;
    background-color: rgba(34, 27, 27, 0.11);
    text-align: center;
}
.Iconstyle{
    font-size: 110px;
    /* color: rgb(97, 96, 96); */
    color: #fff;
}
.IconstyleSunset{
    font-size: 55px;
    /* color: rgb(97, 96, 96); */
    color: #fff;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .Iconstyle{
        font-size: 35px;
    }
    .IconstyleSunset{
        font-size: 20px;
    }
    .Description div h2{
        font-size: 15px;
    }
    .copm_weather{
        width: 300px;
        height: 550px;    
    }
    .Description{
        width: 101px;
        height: 90px;
        font-size: 15px;
        border-radius: 5px;
    }
    .Description h3{
        font-size: 13px;
    }
    .chart{
        width: 250px;
        height: 400px;
    }
    .nn{
        font-size: 5px;
    }
    .nn div h2{
        font-size: 8px;
    }
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .Iconstyle{
        font-size: 65px;
    }
    .IconstyleSunset{
        font-size: 35px;
    }
    .Description div h2{
        font-size: 17px;
    }
    .copm_weather{
        width: 500px;
        height: 500px;    
    }
    .Description{
        width: 130px;
        height: 130px;
        font-size: 15px;
    }
    .nn{
        font-size: 10px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .Iconstyle{
        font-size: 90px;
    }
    .IconstyleSunset{
        font-size: 50px;
    }
    .Description div h2{
        font-size: 20px;
    }
    .copm_weather{
        width: 638px;
        height: 600px;    
    }
    .Description{
        width: 160px;
        height: 160px;
        font-size: 15px;
    }
    .nn{
        font-size: 13px;
    }

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .Iconstyle{
        font-size: 110px;
    }
    .copm_weather{
        width: 900px;
    }
    .Description div h2{
        font-size: 25px;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */